@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Platypi:ital,wght@0,300..800;1,300..800&family=Suez+One&display=swap');

body {
  margin: 0;
  font-family: "Chonburi", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-party {
  background-size: cover;
  background: url("../public/bg-party.webp");
  background-position: center;
}

.bg-party2 {
  background-size: contain;
  background: url("../public/bg-party2.webp");
  background-position: center;
}
